body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #73482f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appWrapper {
  display: flex;
}

.newsFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bf665e;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
  max-width: 300px;
}

.newsFeed > div {
  border-bottom: 1px solid #73482f;
  padding: 10px;
  transition: filter 0.3s;
}

.newsFeed > div:hover {
  background: #bf665e;
  filter: brightness(1.1);
}

a {
  text-decoration: none;
  color: #fff;
}

.currencyConverter {
  background: #a6806a;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
  text-align: center;
}

.inputBox {
  background-color: #f2c1ae;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
}

.exchangeRate {
  background: #f2c1ae;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
  border-radius: 10px;
}

button {
  border: none;
  float: right;
  margin: 2px;
  padding: 5px;
}

button:hover {
  filter: brightness(1.1);
  background-color: rgb(214, 226, 248);
}

#evidencedValue {
  font-size: 2em;
  font-weight: bolder;
}

input,
select {
  border: none;
  outline: none;
}
